*{
  scroll-behavior: smooth;
}

/* #btn{
 position: relative;
 overflow: hidden;
 padding: 10px;
 display: block;
}

#btn::after{
  content: '';
  height: 8px;
  width: 100%;
  background: red;
  transform: scaleX(1);
  transition: 0.9s ease-out;
  transform-origin: left;
}

#btn:hover:after{
  transform: scaleX(1);
  
} */
